<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taoyyz.productservice.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.taoyyz.productservice.model.domain.Product">
        <id column="id" property="id"/>
        <result column="product_name" property="productName"/>
        <result column="product_desc" property="productDesc"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_picture" property="productPicture"/>
        <result column="product_cate" property="productCate"/>
    </resultMap>

</mapper>
